<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>BookShelf Atlias</title>
</head>
<body>
    <div class="container">
        <div class="d-flex justify-content-around m-2">
            <h1 class="">Book Information</h1>
            <a href="/profile" class="btn btn-success text-dark">Back</a>
            <a href="/logout" class="btn btn-success text-dark">Log Out</a>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{}}</h4>
                <p class="card-text">
                    <strong>Author:</strong>
                    {{}}
                </p>
                <p class="card-text">{{}}</p>
                <p class="card-text">{{}}</p>
            </div>
        </div>
    </div>
</body>